openai
streamlit 
PyPDF2 
python-docx 
pandas
python-dotenv

# Dependencies for notebook
# Uncomment when required
# ipython 
# ipykernel

# Dependencies for PR Reviews
requests
tiktoken

# Dependencies for the 100 days of LLM course, AI && LLM course
torch
transformers
ollama
chromadb

# OpenAI Agents Course
# crewai-tools
# crewai
# google-search-results
# langchain-community
# langchain_ollama
# duckduckgo-search
# onnxruntime
# langgraph
# datasets
# matplotlib
# sentence_transformers

# AWS Bedrock
boto3